/******************
Document defaults*/
html, body {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
    height: 101%;
    width: 100%;
}

/******************
Flex box */
.wrapper,
.content-main,
.content-social-media {
    display: flex;
}

.content-main {
    flex-flow: nowrap column;
    align-items: center;
    justify-content: center;
}

.content-social-media {
    justify-content: space-around;
}

/**********************
Main styles */
.wrapper {
    background-image: url("../media/image/bg.jpg");
    background-color: #555555;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 100%;
    width: 100%;
}

.content-main {
    width: 100%;
}

.content-main > h1 {
    background-color: rgba(255,255,255,0.8);
    border-radius: 0.3rem;
    padding: 1rem;
    color: rgba(0,0,0,0.8);
    font-size: 3rem;
}

.content-main > section {
    margin: 4rem 0;
}

/***************
Social media */
.content-social-media {
    background-color: rgba(255,255,255,0.8);
    border-radius: 0.3rem;
}

.content-social-media > a {
    background-color: rgba(180,180,180,0.8);
    border-radius: 0.3rem;
    margin: 0.5rem;
    padding: 1rem;
}

.content-social-media > a > img {
    width: 2rem;
    height: 2rem;
}

/****************
JavaScript countdown timer
taken from https://codepen.io/SitePoint/pen/MwNPVq */
#clockdiv{
	font-family: sans-serif;
	color: rgba(0,0,0,0.8);
	display: inline-block;
	text-align: center;
	font-size: 3rem;
}

#clockdiv > div{
	padding: 1rem;
	border-radius: 0.3rem;
	background: rgba(255,255,255,0.8);
	display: inline-block;
}

#clockdiv div > span{
	padding: 1.5rem;
	border-radius: 0.3rem;
	background: rgba(180,180,180,0.8);
	display: inline-block;
}

.smalltext{
	padding-top: 0.5rem;
	font-size: 1.6rem;
}